.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 20px;
    margin-top: 150px;
    margin-left: 10px ;
    margin-right :10px ;
}
.about button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #004bdd;
    color: white;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    transition: scale 0.5s;
    font-variant: small-caps;
}
.about p{
    text-indent: 50px;
    line-height: 45px;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: white;
}
.about button:hover{
    cursor: pointer;
    scale: 1.03;
}