.header-section {
    height: 10vh;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    background: -webkit-linear-gradient(80deg ,#051869, #164ec9,#a9beed);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight:900;
    height: 10vh;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-section ul {
    width: 80%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.header-section ul li:hover {
    cursor: pointer;
}
.toggle-btn {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

@media screen and (max-width: 768px) {
    .header-section{
        height: 60vh;
        padding: 0px;
        flex-direction: column;
        align-items: start;
    }
    .header-section ul{
        width:100%;
        height: 50vh;
        flex-direction: column;
        align-items: center;
    }
    .toggle-btn {
        display: inherit;
    }
}