.header-section {
    height: 10vh;
    padding: 0px 40px;
    display: flex;
    align-items: center;
}
.logo {
    background: -webkit-linear-gradient(80deg ,#051869, #164ec9,#a9beed);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight:900;
    width: 20%;
    height: 10vh;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    width: 80%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: all 0.2s;
}
.nav-list a {
    text-decoration: none;
    color: rgb(85, 81, 81);
}
.nav-list li:hover {
    cursor: pointer;
}
.toggle-btn {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    z-index: 999;
}
.toggle-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 40%;
    }
    .nav-list.show{
        left:50vw;
        transform: translate(-50%,0%);
        z-index:999999;
    }
    .header-section{
        padding: 0px;
        flex-direction: column;
        align-items: start;
    }
    .nav-list {
        box-shadow: 1px 1px 8px black;
        border-radius: 10px;
        background: linear-gradient(35deg ,rgb(121, 121, 233),rgb(14, 14, 197));
        color: white;
        width: 90%;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10vh;
        left: -1000vw;
    }
    .toggle-btn {
        display: inherit;
    }
}