@import url('https://fonts.cdnfonts.com/css/switzer');


* {
    margin: 0px;
    background-color: #0e1011;
    color: white;
    cursor:default;
    overflow-x: hidden;
    font-family: 'Switzer', sans-serif;
}